{{!< default}}

<article class="{{post_class}}">
  <header class="post-header">
    
    <h1><a href="{{url}}" class="permalink">{{title}}</a></h1>
    
  </header>

  <div class="post-content">
  	
  	<p>
	  	Test
  	</p>
  	
  	
  </div>

</article>