<style> 
    
    @media screen and (max-width: 890px) {
    body {
        margin: 10px;
    }
    .main-header {
      flex-direction: column;
    }
    .main-header h1 + * {
      display: none;
    }
    
    .post-header h1 {
        font-size: 1.9em;
        line-height: 0.9em;
        margin-bottom: 0.25em;
        }
}
</style>
