<style> 
    
    @media screen and (max-width: 740px) {
    body {
        margin: 10px;
    }
    .main-header {
      flex-direction: column;
    }
    .main-header h1 + * {
      display: none;
    }
}
    @media screen and (max-width: 880px) {
    body {
        margin: 10px;
    }
}

</style>
